<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Treebook</h1>
<span class="glyphicon glyphicon-search"></span>
<img src="asd.gif" alt="rss feed" />
<%= image_tag("asd.gif", :alt => "rss feed") %>
<%= yield %>
<em>Footer</em>
</body>
</html>
